.block-item {
  display: flex;
  padding: 7px;
}

/* #eaebe9 */

.peg-item {
  display: inline-block;
  border: #e4e2e2 2px solid;
  width: 40px;
  height: 40px;
  background-color: #f4f4f4;
  margin-right: 7px;
  border-radius: 50%;
  cursor: pointer;
}

.submit-button {
  border: none;
  font-size: 20px;
  color: #b4bb69;
  background-color: #f4f4f4;
  cursor: pointer;
}

.hint-container {
  width: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hint-item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid black;
  font-size: 10px;
}

.border-dotted {
  border: #a8a8a8 1px solid;
}

.fade {
  opacity: 0.7;
}

.hide-element {
  visibility: hidden;
}

.unchecked {
  background-color: #f4f4f4;
}

.half-match {
  background-color: #f4f4f4;
}

.exact-match {
  background-color: #555461;
}

.no-match {
  background-color: #f4f4f4;
}
